@import "tailwindcss";

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-14px);
  }
}

.animate-float {
  animation: float 3.8s ease-in-out infinite;
}
